Repository crytic/medusa: changes, and which pre-commit hooks are due for each by the changed paths.
All: goimports, go-fmt, golangci-lint, dprint, actionlint

goimports:
  name: goimports
  entry: bash -c 'goimports -w $(find . -name "*.go" -not -path "./vendor/*") && git diff --exit-code'
  language: system
  pass_filenames: false

go-fmt:
  name: go fmt
  entry: bash -c 'go fmt ./... && git diff --exit-code'
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: golangci-lint run --timeout 5m
  language: system
  pass_filenames: false

dprint:
  name: dprint
  entry: dprint check
  language: system

actionlint:
  name: actionlint
  entry: actionlint
  language: system
  pass_filenames: false

cheatcode: address PR #729 review comments
  chain/standard_cheat_code_contract.go
  fuzzing/fuzzer_test.go
  fuzzing/testdata/contracts/cheat_codes/assert/assert_cheatcodes.sol
Due: goimports, go-fmt, golangci-lint

docs: add assert cheatcodes to interface documentation
  docs/src/cheatcodes/cheatcodes_overview.md
Due: dprint

fuzzing: fix autolink bytecode hash matching bug
  fuzzing/fuzzer.go
Due: goimports, go-fmt, golangci-lint

ci: fix dprint plugin URL and add docs-check to pre-commit
  .pre-commit-config.yaml
  dprint.json
Due: dprint

docs: add useAutolink config field documentation
  docs/src/project_configuration/fuzzing_config.md
Due: dprint

ci: fix dprint plugin URL and add docs-check to pre-commit (#778)
  .pre-commit-config.yaml
  dprint.json
Due: dprint

fuzzing: fix call sequence display showing identical block/time (#753)
  fuzzing/calls/call_sequence.go
  fuzzing/calls/call_sequence_execution.go
  fuzzing/calls/call_sequence_test.go
Due: goimports, go-fmt, golangci-lint

no need for this file
  fuzzing/calls/call_sequence_test.go
Due: goimports, go-fmt, golangci-lint

fuzzing: fix call sequence display showing identical block/time (#753) (#785)
  fuzzing/calls/call_sequence.go
  fuzzing/calls/call_sequence_execution.go
Due: goimports, go-fmt, golangci-lint

fuzzing: add early exit guard and refactor shrinking
  fuzzing/fuzzer_worker.go
  fuzzing/fuzzer_worker_shrinking.go
Due: goimports, go-fmt, golangci-lint

fuzzing: add early exit guard and refactor shrinking (#786)
  fuzzing/fuzzer_worker.go
  fuzzing/fuzzer_worker_shrinking.go
Due: goimports, go-fmt, golangci-lint

logging: improve log readability with consistent formatting (#773)
  fuzzing/fuzzer.go
Due: goimports, go-fmt, golangci-lint

compilation: notify user when running against unchanged artifacts (#772)
  compilation/artifact_hash.go
  compilation/artifact_hash_test.go
  fuzzing/fuzzer.go
Due: goimports, go-fmt, golangci-lint

tui: refactor TUI into separate package for better separation of concerns
  cmd/fuzz.go
  fuzzing/fuzzer.go
  fuzzing/fuzzer_tui.go
  tui/dashboard.go
  tui/interface.go
  tui/tui.go
  tui/views.go
Due: goimports, go-fmt, golangci-lint

corpus: refactor corpus cleaner to match corpus_pruner pattern
  fuzzing/corpus/corpus_cleaner.go
  fuzzing/corpus_cleaner.go
Due: goimports, go-fmt, golangci-lint

abiutils: add bounds checks to prevent event parsing panic (#789)
  compilation/abiutils/solidity_events.go
Due: goimports, go-fmt, golangci-lint

abiutils: add bounds checks to prevent event parsing panic (#789) (#790)
  compilation/abiutils/solidity_events.go
Due: goimports, go-fmt, golangci-lint

cmd: refactor corpus clean subcommand to remove dry-run and standardize architecture
  cmd/corpus.go
  cmd/corpus_flags.go
  fuzzing/corpus/corpus.go
  fuzzing/corpus/corpus_cleaner.go
  fuzzing/corpus_cleaner.go
  fuzzing/fuzzer.go
Due: goimports, go-fmt, golangci-lint

cmd: add corpus clean command to remove invalid sequences (#777)
  cmd/corpus.go
  cmd/corpus_flags.go
  fuzzing/corpus/corpus.go
  fuzzing/corpus/corpus_cleaner.go
  fuzzing/corpus/corpus_files.go
  fuzzing/fuzzer.go
Due: goimports, go-fmt, golangci-lint

upgrade to v1.5.0
  cmd/root.go
  flake.nix
Due: goimports, go-fmt, golangci-lint

upgrade to v1.5.0 (#791)
  cmd/root.go
  flake.nix
Due: goimports, go-fmt, golangci-lint

compilation: normalize user-defined ABI types in crytic exports
  compilation/types/compiled_contract.go
  compilation/types/compiled_contract_test.go
Due: goimports, go-fmt, golangci-lint

coverage: add dark mode support to HTML report
  fuzzing/coverage/report_template.gohtml
Due: none

fuzzing: add sometimes assertions (#450)
  fuzzing/config/config.go
  fuzzing/config/config_defaults.go
  fuzzing/contracts/contract.go
  fuzzing/fuzzer.go
  fuzzing/fuzzer_test.go
  fuzzing/test_case_sometimes.go
  fuzzing/test_case_sometimes_provider.go
  fuzzing/testdata/contracts/sometimes/sometimes_basic.sol
  fuzzing/testdata/contracts/sometimes/sometimes_multiple_contracts.sol
  fuzzing/utils/fuzz_method_utils.go
Due: goimports, go-fmt, golangci-lint

fuzzing: add native anvil_dumpState format support with ABI mapping (#469)
  chain/config/config.go
  chain/state/genesis_loader.go
  chain/state/genesis_loader_test.go
  fuzzing/fuzzer.go
  fuzzing/fuzzer_worker.go
Due: goimports, go-fmt, golangci-lint

docs: add manual verification test case for anvil_dumpState support
  manual_test/README.md
  manual_test/foundry.toml
  manual_test/medusa.json
  manual_test/script/Deploy.s.sol
  manual_test/src/Counter.sol
Due: dprint

corpus: add test-based corpus prefilling via AST analysis
  compilation/types/ast.go
  compilation/types/ast_analysis.go
  compilation/types/ast_analysis_test.go
  docs/src/project_configuration/fuzzing_config.md
  fuzzing/config/config.go
  fuzzing/corpus/prefill.go
  fuzzing/fuzzer.go
Due: goimports, go-fmt, golangci-lint, dprint

verification: add manual verification instructions
  VERIFICATION_INSTRUCTIONS.md
Due: dprint

start with 2^128 instead of 2^256 gas
  fuzzing/fuzzer.go
Due: goimports, go-fmt, golangci-lint

start with 2^128 instead of 2^256 gas (#808)
  fuzzing/fuzzer.go
Due: goimports, go-fmt, golangci-lint

some docs for agents
  AGENTS.md
  fuzzing/coverage/README.md
  fuzzing/valuegeneration/README.md
Due: dprint

chain: add assert* cheatcodes for testing (#501)
  chain/cheat_code_contract.go
  chain/standard_cheat_code_contract.go
  docs/src/cheatcodes/cheatcodes_overview.md
  fuzzing/fuzzer_test.go
  fuzzing/testdata/contracts/cheat_codes/vm/assertions.sol
Due: goimports, go-fmt, golangci-lint, dprint

chain: add assert* cheatcodes for testing (#501) (#806)
  chain/cheat_code_contract.go
  chain/standard_cheat_code_contract.go
  docs/src/cheatcodes/cheatcodes_overview.md
  fuzzing/fuzzer_test.go
  fuzzing/testdata/contracts/cheat_codes/vm/assertions.sol
Due: goimports, go-fmt, golangci-lint, dprint

more documentation
  AGENTS.md
  fuzzing/calls/README.md
  fuzzing/calls/call_sequence_execution.go
  fuzzing/corpus/README.md
Due: goimports, go-fmt, golangci-lint, dprint

fuzzing: simplify SometimesTestCaseProvider by removing per-worker state
  fuzzing/test_case_sometimes.go
  fuzzing/test_case_sometimes_provider.go
Due: goimports, go-fmt, golangci-lint

fix memory leaks in corpus pruner, trieDB, and fork-mode RPC pool
  chain/state/rpc/client_pool.go
  chain/test_chain.go
  fuzzing/corpus/corpus.go
Due: goimports, go-fmt, golangci-lint

fix memory leaks in corpus pruner, trieDB, and fork-mode RPC pool (#812)
  chain/state/rpc/client_pool.go
  chain/test_chain.go
  fuzzing/corpus/corpus.go
Due: goimports, go-fmt, golangci-lint

release v1.5.1
  cmd/root.go
  flake.nix
Due: goimports, go-fmt, golangci-lint

release v1.5.1 (#814)
  cmd/root.go
  flake.nix
Due: goimports, go-fmt, golangci-lint

Path conditions:
  goimports: any of: \.go$
  go-fmt: any of: \.go$
  golangci-lint: any of: \.go$
  dprint: any of: \.(md|markdown|mdown)$, \.(yaml|yml)$, \.json$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
