Repository crytic/medusa: changes, and which pre-commit hooks are due for each by the changed paths.
All: goimports, go-fmt, golangci-lint, dprint, actionlint, docs-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: goimports
        name: goimports
        entry: bash -c 'goimports -w $(find . -name "*.go" -not -path "./vendor/*") && git diff --exit-code'
        language: system
        types: [go]
        pass_filenames: false

      - id: go-fmt
        name: go fmt
        entry: bash -c 'go fmt ./... && git diff --exit-code'
        language: system
        types: [go]
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run --timeout 5m
        language: system
        types: [go]
        pass_filenames: false

      - id: dprint
        name: dprint
        entry: dprint check
        language: system
        types_or: [markdown, yaml, json]

      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        pass_filenames: false

      - id: docs-check
        name: docs-check
        entry: python3 scripts/check_docs.py
        language: system
        files: (\.go$|docs/src/.*\.md$)
        pass_filenames: false

Use require() in fs test utils so setup failures halt immediately
  utils/testutils/test_directory_utils.go
Due: goimports, go-fmt, golangci-lint, docs-check

docs: add on-chain fuzzing (fork mode) guide
  docs/src/SUMMARY.md
  docs/src/project_configuration/chain_config.md
  docs/src/testing/on_chain_fuzzing.md
Due: dprint, docs-check

fuzzing: support disabled coverage (#836)
  fuzzing/fuzzer_test.go
  fuzzing/fuzzer_worker.go
Due: goimports, go-fmt, golangci-lint, docs-check

Use require() in fs test utils so setup failures halt immediately (#838)
  utils/testutils/test_directory_utils.go
Due: goimports, go-fmt, golangci-lint, docs-check

compilation: separate Slither output streams (#833) (#840)
  compilation/types/slither.go
  compilation/types/slither_test.go
Due: goimports, go-fmt, golangci-lint, docs-check

Remove TestChainPendingBlockAddedTxEventIndex
  chain/test_chain_test.go
Due: goimports, go-fmt, golangci-lint, docs-check

ci: move to golangci-lint v2 and pin the Go version
  .github/workflows/ci.yml
  .golangci.yml
Due: dprint, actionlint

chain,fuzzing,utils: check errors from Close and cleanup calls
  chain/state/cache/caches_test.go
  chain/test_chain.go
  chain/types/generic_hooks.go
  compilation/types/slither.go
  fuzzing/reverts/revert_reporter.go
  utils/fs_utils.go
  utils/integer_utils.go
Due: goimports, go-fmt, golangci-lint, docs-check

chain,fuzzing,utils: replace golang.org/x/exp with the stdlib
  fuzzing/coverage/source_analysis.go
Due: goimports, go-fmt, golangci-lint, docs-check

cmd,compilation,fuzzing: address staticcheck style findings
  cmd/exitcodes/error_with_exit_code.go
  cmd/init.go
  compilation/platforms/crytic_compile.go
  compilation/platforms/solc.go
  compilation/types/compiled_contract.go
  fuzzing/calls/call_sequence.go
  fuzzing/config/config.go
  fuzzing/test_case_assertion.go
  fuzzing/test_case_optimization.go
  fuzzing/test_case_property.go
  fuzzing/valuegeneration/abi_values.go
  fuzzing/valuegeneration/generator_mutational.go
  fuzzing/valuegeneration/value_set_from_ast.go
  main.go
Due: goimports, go-fmt, golangci-lint, docs-check

chain: fix pending transaction event index (#837)
  chain/test_chain.go
Due: goimports, go-fmt, golangci-lint, docs-check

ci: fix lint job and modernize Go and golangci-lint versions (#841)
  .github/workflows/ci.yml
  .golangci.yml
  chain/state/cache/caches_test.go
  chain/test_chain.go
  chain/types/generic_hooks.go
  cmd/exitcodes/error_with_exit_code.go
  cmd/init.go
  compilation/platforms/crytic_compile.go
  compilation/platforms/solc.go
  compilation/types/compiled_contract.go
  compilation/types/slither.go
  fuzzing/calls/call_sequence.go
  fuzzing/config/config.go
  fuzzing/coverage/source_analysis.go
  fuzzing/reverts/revert_reporter.go
  fuzzing/test_case_assertion.go
  fuzzing/test_case_optimization.go
  fuzzing/test_case_property.go
  fuzzing/valuegeneration/abi_values.go
  fuzzing/valuegeneration/generator_mutational.go
  fuzzing/valuegeneration/value_set_from_ast.go
  main.go
  utils/fs_utils.go
  utils/integer_utils.go
Due: goimports, go-fmt, golangci-lint, dprint, actionlint, docs-check

fuzzing: reduce allocations and add performance benchmarks
  benchmarks/README.md
  benchmarks/abi-pack-baseline.txt
  benchmarks/abi-pack-comparison.txt
  benchmarks/abi-pack-optimized.txt
  benchmarks/campaign-baseline.txt
  benchmarks/campaign-comparison.txt
  benchmarks/campaign-optimized.txt
  benchmarks/components-baseline.txt
  benchmarks/components-comparison.txt
  benchmarks/components-optimized.txt
  benchmarks/cpu-profile.txt
  benchmarks/heap-profile.txt
  benchmarks/selection-errors-baseline.txt
  benchmarks/selection-errors-comparison.txt
  benchmarks/selection-errors-optimized.txt
  chain/call_benchmark_test.go
  chain/test_chain.go
  compilation/abiutils/solidity_errors.go
  compilation/abiutils/solidity_errors_test.go
  fuzzing/calls/abi_pack_test.go
  fuzzing/calls/call_message_abi_values.go
  fuzzing/coverage/coverage_tracer.go
  fuzzing/coverage/coverage_tracer_test.go
  fuzzing/fuzzer_benchmark_test.go
  fuzzing/testdata/benchmark.json
  fuzzing/testdata/benchmark.sol
  fuzzing/valuegeneration/generator_mutational.go
  fuzzing/valuegeneration/integer_benchmark_test.go
  fuzzing/valuegeneration/mutator_shrinking.go
  fuzzing/valuegeneration/seed_selection_test.go
  fuzzing/valuegeneration/value_set.go
  fuzzing/valuegeneration/value_set_test.go
  utils/integer_utils.go
  utils/integer_utils_test.go
Due: goimports, go-fmt, golangci-lint, dprint, docs-check

fuzzing: respect minimum mutation rounds
  fuzzing/valuegeneration/generator_mutational.go
  fuzzing/valuegeneration/generator_mutational_test.go
Due: goimports, go-fmt, golangci-lint, docs-check
