Repository crytic/medusa: changes, and which pre-commit hooks are due for each by the changed paths.
All: goimports, go-fmt, golangci-lint, dprint, actionlint, docs-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: goimports
        name: goimports
        entry: bash -c 'goimports -w $(find . -name "*.go" -not -path "./vendor/*") && git diff --exit-code'
        language: system
        types: [go]
        pass_filenames: false

      - id: go-fmt
        name: go fmt
        entry: bash -c 'go fmt ./... && git diff --exit-code'
        language: system
        types: [go]
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run --timeout 5m
        language: system
        types: [go]
        pass_filenames: false

      - id: dprint
        name: dprint
        entry: dprint check
        language: system
        types_or: [markdown, yaml, json]

      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        files: ^\.github/workflows/.*\.ya?ml$
        pass_filenames: false

      - id: docs-check
        name: docs-check
        entry: python3 scripts/check_docs.py
        language: system
        files: (\.go$|docs/src/.*\.md$)
        pass_filenames: false

fuzzing/README.md
  fuzzing/README.md
Due: dprint

coverage: add dark mode support to HTML report (#802)
  fuzzing/coverage/report_template.gohtml
Due: none

fix: resolve code review findings for PR #803
  fuzzing/config/config.go
  fuzzing/fuzzer.go
  fuzzing/fuzzer_test.go
  fuzzing/test_case_sometimes.go
  fuzzing/test_case_sometimes_provider.go
Due: goimports, go-fmt, golangci-lint, docs-check

fix: add mutex protection to all test case providers
  fuzzing/test_case_assertion.go
  fuzzing/test_case_assertion_provider.go
  fuzzing/test_case_optimization.go
  fuzzing/test_case_optimization_provider.go
  fuzzing/test_case_property.go
  fuzzing/test_case_property_provider.go
Due: goimports, go-fmt, golangci-lint, docs-check

refactor: replace interface{} with any for clarity and modernization (#798)
  chain/state/cache/persistent_cache.go
  chain/state/rpc/client_pool.go
  chain/state/rpc/structs.go
  logging/logger.go
Due: goimports, go-fmt, golangci-lint, docs-check

refactor: use slices.Contains to simplify code
  fuzzing/config/config.go
  logging/logger.go
Due: goimports, go-fmt, golangci-lint, docs-check

docs: document corpus clean
  docs/src/SUMMARY.md
  docs/src/cli/corpus.md
  docs/src/cli/overview.md
Due: dprint, docs-check

docs: document corpus clean (#820)
  docs/src/SUMMARY.md
  docs/src/cli/corpus.md
  docs/src/cli/overview.md
Due: dprint, docs-check

docs: complete the writing system-level invariants guide
  docs/src/SUMMARY.md
  docs/src/static/system_level_testing_medusa.json
  docs/src/testing/writing-system-level-invariants.md
Due: dprint, docs-check

docs: fix prettier formatting
  docs/src/testing/writing-system-level-invariants.md
Due: dprint, docs-check

tests: fix baseline failures
  chain/testdata/contracts/deployment_with_args.sol
  logging/logger_test.go
Due: goimports, go-fmt, golangci-lint, docs-check

cmd: add CLI tests
  cmd/cli_test.go
  cmd/corpus_flags.go
  cmd/fuzz_flags.go
  cmd/init_flags.go
Due: goimports, go-fmt, golangci-lint, docs-check

docs: tighten invariant guide examples
  docs/src/static/function_level_testing_medusa.json
  docs/src/static/system_level_testing_medusa.json
  docs/src/testing/writing-system-level-invariants.md
Due: dprint, docs-check

tests: fix CI regressions
  chain/testdata/contracts/deployment_with_args.sol
  logging/logger_test.go
Due: goimports, go-fmt, golangci-lint, docs-check

logging: fix windows color test
  logging/logger_test.go
Due: goimports, go-fmt, golangci-lint, docs-check

docs: tighten invariant guide setup
  docs/src/testing/writing-function-level-invariants.md
  docs/src/testing/writing-system-level-invariants.md
Due: dprint, docs-check

docs: complete writing system-level invariants guide (#821)
  docs/src/SUMMARY.md
  docs/src/static/system_level_testing_medusa.json
  docs/src/testing/writing-function-level-invariants.md
  docs/src/testing/writing-system-level-invariants.md
Due: dprint, docs-check

test,docs: add genesis state fuzzing test and documentation
  docs/src/SUMMARY.md
  docs/src/project_configuration/chain_config.md
  docs/src/testing/genesis_state.md
  fuzzing/fuzzer_test.go
Due: goimports, go-fmt, golangci-lint, dprint, docs-check

fix: resolve code review findings for PR #804
  chain/state/genesis_loader.go
  chain/state/genesis_loader_test.go
  docs/src/project_configuration/chain_config.md
  fuzzing/fuzzer.go
  fuzzing/fuzzer_worker.go
Due: goimports, go-fmt, golangci-lint, dprint, docs-check

docs,fix: clarify genesisContractMappings vs targetContracts separation
  docs/src/project_configuration/chain_config.md
  docs/src/testing/genesis_state.md
  fuzzing/fuzzer.go
  fuzzing/fuzzer_test.go
Due: goimports, go-fmt, golangci-lint, dprint, docs-check

prototype: load genesis from anvil dump state (#804)
  chain/config/config.go
  chain/state/genesis_loader.go
  chain/state/genesis_loader_test.go
  docs/src/SUMMARY.md
  docs/src/project_configuration/chain_config.md
  docs/src/testing/genesis_state.md
  fuzzing/fuzzer.go
  fuzzing/fuzzer_test.go
  fuzzing/fuzzer_worker.go
Due: goimports, go-fmt, golangci-lint, dprint, docs-check

Revert "fix: add mutex protection to all test case providers"
  fuzzing/test_case_assertion.go
  fuzzing/test_case_assertion_provider.go
  fuzzing/test_case_optimization.go
  fuzzing/test_case_optimization_provider.go
  fuzzing/test_case_property.go
  fuzzing/test_case_property_provider.go
Due: goimports, go-fmt, golangci-lint, docs-check

Revert "fix: resolve code review findings for PR #803"
  fuzzing/config/config.go
  fuzzing/fuzzer.go
  fuzzing/fuzzer_test.go
  fuzzing/test_case_sometimes.go
  fuzzing/test_case_sometimes_provider.go
Due: goimports, go-fmt, golangci-lint, docs-check

fix: address initial review findings for PR #803
  fuzzing/config/config_defaults.go
  fuzzing/fuzzer.go
  fuzzing/test_case_sometimes_provider.go
Due: goimports, go-fmt, golangci-lint, docs-check

deps: bump medusa-geth to fix vm.etch bytecode aliasing (#827)
  go.mod
  go.sum
Due: none

nix: update vendorHash for medusa-geth bump
  flake.nix
Due: none

deps: bump medusa-geth to fix vm.etch bytecode aliasing (#829)
  flake.nix
  go.mod
  go.sum
Due: none

fix: skip invalid Slither constants during seeding
  fuzzing/valuegeneration/value_set_from_slither.go
  fuzzing/valuegeneration/value_set_from_slither_test.go
Due: goimports, go-fmt, golangci-lint, docs-check

fix: skip invalid Slither constants during seeding
  fuzzing/valuegeneration/value_set_from_slither.go
Due: goimports, go-fmt, golangci-lint, docs-check

fix: skip invalid Slither constants during seeding (#831)
  fuzzing/valuegeneration/value_set_from_slither.go
Due: goimports, go-fmt, golangci-lint, docs-check

docs: add OpenWiki documentation (source-audited)
  CLAUDE.md
  openwiki/.last-update.json
  openwiki/architecture/chain-and-state.md
  openwiki/architecture/fuzzing-engine.md
  openwiki/architecture/overview.md
  openwiki/operations.md
  openwiki/quickstart.md
  openwiki/reference/source-map.md
  openwiki/testing.md
  openwiki/workflows/fuzzing-lifecycle.md
Due: dprint

docs: fix stale claims in AGENTS.md and link OpenWiki
  AGENTS.md
Due: dprint

.github: add Claude issue triage workflow
  .github/workflows/claude-triage.yml
Due: dprint, actionlint

.github: fix feature request template label
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: dprint

ci: pin lint job Go version to go.mod
  .github/workflows/ci.yml
Due: dprint, actionlint

ci: pin actionlint and let it use a newer toolchain
  .github/workflows/ci.yml
Due: dprint, actionlint

refactor: use typed event reflection and zero-size sets
  events/events.go
  fuzzing/valuegeneration/value_set.go
Due: goimports, go-fmt, golangci-lint, docs-check

fuzzing: support disabled coverage
  fuzzing/fuzzer_test.go
  fuzzing/fuzzer_worker.go
Due: goimports, go-fmt, golangci-lint, docs-check

chain: fix pending transaction event index
  chain/test_chain.go
  chain/test_chain_test.go
Due: goimports, go-fmt, golangci-lint, docs-check

compilation: separate Slither output streams (#833)
  compilation/types/slither.go
  compilation/types/slither_test.go
Due: goimports, go-fmt, golangci-lint, docs-check
